SetEnv PHP_VER 5
Options -Indexes
<Files maj_membres.php>
AuthUserFile C:\xampp\htdocs\.htpasswd
AuthGroupFile /dev/null
AuthName "Accès Restreint"
AuthType basic
require valid-user

</Files>